<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Kysymyksen vaihtoehdot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link type="text/css" rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}" />
</head>
<body>

	<div class="container">
	
		<p>asdasdasd</p>
	 
	 <!----------------    ----------------------------------> 
	  
	 
	</div>	    	
</body>
</html>