<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link type="text/css" rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}" /> 
	<title>Kyselyt</title>
</head>
<body>
	<div class="container">
		<div class="container main">
			<h2>Kaikki kyselyt</h2>
			<div class="clear-3"></div>
			<form class="form-inline" th:action="@{/kyselyt/tallenna}" action="#" method="post">
				<input class="form-control mr-sm-2" type="text" id="nimi" placeholder="Lisää uusi kysely" th:field="${uusiKysely.nimi}" required />
				<button class="btn btn-success" type="submit">Lisää</button>
			</form>
		</div>
		<div class="clear-5"></div>
		<div>
			<table class="table table-light table-striped table-hover">
				<tr>
					<th>Nimi</th>
					<th>Kysymyksien määrä</th>
					<th></th>
				</tr>
				<tr th:each="kysely : ${kyselyt}">
					<td th:text="${kysely.nimi}"></td>
					<td th:text="${kysely.getKysymyksetSize}"></td>
					<td>
						<a th:href="@{/kyselyt/{id}(id=${kysely.id})}">Kysymykset</a>
					</td>
				</tr>
			</table>
		</div>
		
				
		
	</div>
</body>
</html>