<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Kyselylista</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2>Lisää kysely</h2>
	<div>
		<form th:object="${questionnaire}" th:action="@{savequestionnaire}" action="#" method="post">
		  	<label for="name">Kyselyn nimi</label>
			<input type="text" id="name" th:field="*{questionnaireName}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Tallenna"></input>
		</form>
	</div>
	<h2>Tallennetut kyselyt</h2>
	<table class="table table-striped">
		<tbody>
			<tr>
			<th>Kyselyn nimi</th>
			</tr>
			<tr th:each="questionnaire : ${questionnaires}">
				<td th:text="${questionnaire.questionnaireName}">Kyselyn nimi</td>
				<td>
				<form th:action="@{/editquestionnaire/{id}(id=${questionnaire.questionnaireId})}" action="#" method="get">
				<input type="submit" value="Muokkaa kyselyä"></input>	
				</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>